<main>
    <div>
        {{#each c}}
        <h1 class="character-heading">{{name}}</h1>
        <img src="{{thumbnail.path}}/portrait_xlarge.{{thumbnail.extension}}" alt="{{name}}" class="round-img">
        <p class="para">{{description}}</p>
        <h2 class="heading2">Comics</h2>
        <ul class="list">
            {{#each comics.items}}
            <li class="list-items">{{name}}</li>
            {{/each}}
        </ul>
        {{/each}}
    </div>
</main>